includeConfig 'config/base.config'
process.beforeScript = 'source $HOME/.bashrc'
nextflow.enable.dsl=1
conda.enabled = true

params {
        src = "/home/ec2-user/src"
        genome = null

        // output
        outdir = "/home/ec2-user/out"
        publishdir = "${params.outdir}/results"
        infodir = "${params.outdir}/pipeline_info"
}

trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
    trace.overwrite = true
}

timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
    timeline.overwrite = true
}

docker {
    enabled = true
}

dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}

report {
    enabled = true
    file = "${params.infodir}/report.html"
    report.overwrite = true
}
profiles {

    local {
        process.executor = 'local'
    }
    acrc {
        process.executor = 'slurm'
    }

}
